@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  /* background: url(./assets/farouk-mechedal-iWmfPbKmxEQ-unsplash.jpg)
  no-repeat center center/cover; */
  background: url("bgweb.png");
}
.top {
  padding: 50px;
}
.box {
  border: 1px solid;
  border-radius: 20px;
  border-color: white;
  padding: 18px;
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
ul {
  height: auto;
  width: 600px;
  border: 5px;
  padding: 30px;
  text-align: center;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
li {
  position: relative;
  border-style: solid;
  border-width: 13px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  border-color: #88b2b9;
  width: 120px;
  height: 120px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
li#PAPER {
  border-color: #d7b546;
  text-align: center;
}
li#ROCK {
  border-color: #e3242b;
  text-align: center;
}
li#SCISSORS {
  border-color: #2243b6;
  text-align: center;
}
li:hover {
  background-color: #d4d4d3;
}
i#paper {
  font-size: 60px;
  position: relative;
  margin: auto;
  padding: 8px;
}
i#rock {
  font-size: 60px;
  position: relative;
  margin: auto;
  padding: 10px 8px 8px 16px;
}
i#scissors {
  font-size: 60px;
  position: relative;
  margin: auto;
  padding: 11px 12px 8px 8px;
}
#space {
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  display: flex;
}
.bottom {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}
.right {
  position: absolute;
  bottom: 2vh;
  transform: translate(50%, -50%);
  right: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 7vh;
}
.refresh {
  position: relative;
  padding: 12px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border-style: solid;
  border-radius: 50px;
  border-color: white;
  color: white;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
